# fly.toml app configuration file generated for pilput-nestbackend on 2025-05-31T09:28:56+07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'pilput-nestbackend'
primary_region = 'sin'

[build]
  image = 'cecep31/nestbackend'

[http_service]
  internal_port = 3001
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  size = 'shared-cpu-1x'
